/* Denna fil skall innehålla din CSS kod */


body {
    background-color: #F7F1F0;
}

.header-outer {
    display: flex;
    align-items: center;
    position: sticky;
    top: -px;
    height: 120px;

    background-color: beige;
}

.header-inner {
    height: 70px;
    position: sticky;
    top: 0;
}

* {
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: black;
    font-family: sans-serif;
}